body {
    padding: 0px 4px 0px 0px;
    border-radius: 3px;
    text-indent: 20px;
    width: auto;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    columns: #333333;
    background-image: url(../images/background-image.jpg)
}


h1 {
    background: teal;
    position: relative;
    width: 300px;
    left: 150px;
    top: -19px;
    padding: 20px;
    font-size: 28px;
    color: #eeeeee;
    text-align: left;    
}


h2 {
    color: teal;
    font-size: 26px;
    border-bottom: 1px solid gray;
}

p {
    display: inline;
    margin: left;
}

header {
    width: 100%;
    background: white;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    height: 67px;
}

.container {
    width: 800px;
    margin: 20px auto 100px auto;
    padding: 30px 40px 30px 40px;
    background: white;
}

a {
    position: relative;
    text-decoration: none;
    top: -50px;
    color: gray;
    left: 800px;
    margin-left: 20px;
}


#main-bio {
    width: 100%;
}

#bio-image {
    float: left;
    width: 280px;
    height: 340px;
    margin-right: 20px;
}

footer {
    width: 100%;
    border-bottom: 35px solid #333333;
    border-top: 5px solid teal;
}